<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.amcreatives.CCSG"
    versionCode = "10"
    version     = "1.0.0" >
<access origin="https://5m1qfi37ie.execute-api.eu-west-1.amazonaws.com/Dev/emailCode"/>

<!-- versionCode is optional and Android only -->
<plugin name="cordova-plugin-whitelist" source="npm"/>
<name>CCSG</name>
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />
 <icon src="icon_V2.png"/>   
  <description>
      Carte de membre virtuelle de la Chambre de Commerce de Saint-Georges.
  </description>

  <author href="www.amcreatives.ca" email="aboubakr.mekhatria@gmail.com">
      amcreatives.ca Aboubakr Mekhatria
  </author>

    <preference name="orientation"  value="landscape"></preference>
</widget>
