
#TextContact{
    line-height: 90%;
}

h2 {
    width: 100%;
    text-align:center;
    padding-top: 2%;
}
p{
    width: 100%;
    text-align:center;
    color: darkorange;
/*    padding-top: 2%;*/
}
.Carte{
    height: 43vw;
}
.listeMarchands{
    background-color: #cccccc;
    background-image: linear-gradient(#f2f2f2, #ffe9e1);
    position: relative;
    min-height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}

.logo{
/*
    display: block;
    margin-left: auto;
    margin-right: auto;
*/
}
/*
img
{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto;
}
*/

#name{
    font-size: 4vw;
    display: inline;
    text-align: right;
    line-height:75%;
    margin-right: 10%;
    float: right;
    font-family: "Century Gothic",sans-serif
}

#compagny{
    font-size: 4vw;
    text-align: right;
    margin-right: 10%;
    font-family: "Century Gothic",sans-serif;
    color: gray;
}

#expireDate{
    font-size: 2vw;
    color: gray;
    float: right;
}
.ui-content{
    padding: 0.2em 5em 1em 5em;
    background-image: url("Carte%20de%20membre%20-%20Abou-2.jpg");
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
}

.ui-page { 
    background:#ffffff;
}

.mainGrid{
    display: grid;
    grid-template-columns: 100%;
    padding: 0.5em;
    grid-column-gap: 10px;
}

.MyGrid{
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 0.5em;
    grid-column-gap: 5px;
}

/*
@media screen and (orientation:portrait) {
    #name{
        font-size: 29px;
        color: aqua;
    }
    h1{
      font-size: 24px;
    }
}
*/

/*
@media screen and (orientation:landscape) {
    #name{
        font-size: 29px;
        color: crimson
}
}*/
